<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg nav-red">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">HubSite Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comcast']">COMCAST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ril']">RIL</a>
          </li>
          <li class="nav-item last">
            <a class="nav-link" [routerLink]="['/']">Logout</a>
          </li>
        </ul>
    </nav>
    </div>
</header>