<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://images.ctfassets.net/h6ysm004d16d/17STiwlDODZXqUqkfBGXqc/0cb10c053987f043d8372f9f27485362/header.png" id="logo" alt="Logo Icon" />
    </div>

    <!-- Login Form -->
    <div class="form-content">
      <h1>Sign In</h1>
      <p>With MyRogers Credentials</p>
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="User Name" required autocomplete="off">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" required autocomplete="off">
        <input type="button" class="fadeIn fourth" value="Log In" (click)="onSubmit()">
      </form>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>